body {
    background-color: #4f4e68;
}

.book {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 18rem;
    height: 12rem;
    perspective: 70rem;
}

.cover{
    background-color: #36354e;
    transform: rotateY(0deg);
    width: 9.25rem;
    height: 12.5rem;
}

.page {
    top: 0.25rem;
    left: 0.25rem;
    background-color: #e9e6c4;
    transform: rotateY(0deg);
    width: 9rem;
    height: 12rem;
    text-align: right;
    font-size: 8px;
    color: #777;
    font-family: monospace;    
}

.page::before, .page::after {
    display: block;
    border-top: 1px dashed rgba(0, 0, 0, 0.3);
    content: '';
    padding-bottom: 1rem; 
}

