body {
    margin: 0;
    padding: 45px;
    font-family: sans-serif;
}

h1, h2, h3 {
    margin: 20px 0;
    text-align: center;
    animation: fadeUp 0.8s ease-in-out;
}
h1 {font-size: 20px; color: #003366;}
h2 {font-size: 18px; color: #005580;}
h3 {font-size: 15px; color: #0077aa;}

@keyframes fadeUp {
    0% {opacity: 0; transform: translateY(20px);}
    100% {opacity: 1; transform: translateY(0);}
}

