body {
    height: 100vh;
    margin: 0;
    background: #1e1e2f;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.menu {
    position: relative;
    width: 200px;
    height: 200px;
}

.center {
    width: 80px;
    height: 80px;
    background: #00bcd4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    transition: transform 0.3s;
}

.menu:hover .center {
    transform: translate(-50%, -50%) rotate(45deg);
}

.item {
    width: 60px;
    height: 60px;
    background: #03a9f4;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.3s;
}

.menu:hover .item:nth-child(2) { 
    transform: translate(-50%, -200%) scale(1);  
} /* Top A */

.menu:hover .item:nth-child(3) { 
    transform: translate(-200%, -50%) scale(1); 
} /* Left B */

.menu:hover .item:nth-child(4) { 
    transform: translate(-50%, 100%) scale(1); 
}  /* Bottom C */

.menu:hover .item:nth-child(5) { 
    transform: translate(100%, -50%) scale(1); 
}  /* Right D */
